.flex{
    display: flexbox;
}


.ul{
    padding: 40px;
    margin: 40px;
    list-style-type: none;
    background-color: #333333;
    height: 40px;
    
}

.li{
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 2px solid #cccccc;
    text-align: center;
    font-size: 20px;
    line-height: 40px;

    
}

.li2{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 2px solid #cccccc;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.colori{
    background-color: #333333;
}

.coloriback{
    background-color: dimgrey;
}

.adroite{
    float: right;
}

.agauche{
    float: left;
}


.plusdecouleur{
    text-decoration: none;
    color: #ffffff;
}

.plusgrand{
    font-size: 60px;
}